*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#5a5a5a;
    
}
.cotainer a{
    font-weight: bold;
    color: #000;
}
.cotainer p{
    color: #5a5a5a;
}
img{
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 10;
}
.nose3 img{
    width: 25px;
    margin-right: 25px;
    
}
.nose3 .usuario{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}
.nose .iconom{
    width: 22px;
    margin-right: 25px;

}
.nose .logo{
    width: 130px;

}
.nose2 .micro{
    width: 16px;

}
.nose2 .buscador{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px  ;
    height: 40px;
}
.nose2 .buscador input{
    width: 400px;
    border: 0;
    outline: 0;
    background:transparent;

}
.nose2 .buscador img{
    width: 15px;
}

/*segudo*/

.segundo{
    background:#fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    margin-top: 2%;
}
.links a img{
    width: 20px;
    margin-right: 20px;
}
.links a{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    width:fit-content ;
    flex-wrap: wrap;
}
.links a:first-child{
    color: #ed3833;
}
.segundo hr{
    border:0;
    height: 1px;
    background:#ccc;
    width: 85%;
}
.suscriptores h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.suscriptores a{
    display:flex;
    align-items:center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.suscriptores a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
    margin-top: 3%;

}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;


}
/*tercero*/

.cotainer{
    background: #f9f9f9;
    padding-left: 17% ;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-container{
    padding-left: 7% ;
}


.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius:8px;
}
.listacontenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.videos .imagenprin{
    width: 100%;
    border-radius:5px;
    


}
.videos .primero{
    align-items:flex-start;
    margin-top: 7px;

}
.videos .primero img{
    width: 35px;
    margin-right: 10px;
    border-radius:50% ;
}
.videos .primero div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.vid{
    position: relative;
    display: inline-block;
}
.infovideo{
    color: #5a5a5a;
    font-size: 13px;
}
.infovideo a{
    color:black ;
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

@media (max-width: 900px) {
    .iconom { 
        display: none;
    }
    .segundo{ 
        display: none;
    }

    .cotainer, .large-container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .nose3 img{
        display: none;
    }
    .nose3 .usuario{
        display: block;
        width: 30px;
    }
    .nose2 .buscador input{
        width:100px;
    }
    .nose2 .micro{
        display: none;

    }
    .logo{
        width: 90px;
    }
}

/*play video*/


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 95px;

}
.play-video{
    flex-basis: 69%;
}
.derecha{
    flex-basis:30%;
}
.play-video video{
    width: 100%;
}
.videolista{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.videolista img{
    width: 100%;
}

.videolista .videopeque{
    flex-basis:49%;
}
.videolista .contextvideo{
    flex-basis: 49%;
}
.play-video .tags{
    color:#0000ff;
    font-size: 13px;
}
.play-video .h3{
    font-weight: 600;
    font-size: 22px;
} 

.informacionvideo{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color:#5a5a5a;
}
.play-video .informacionvideo a img{
    width: 20px;
    margin-right: 8px;
}
.play-video .informacionvideo a{
    display:inline-flex;
    align-items:center;
    margin-left: 15px;
}
.play-video hr{
    border:0;
    height: 1px;
    background:#ccc;
    margin:10px 0;
}
.publico{
    display: flex;
    align-items:center;
    margin-top: 20px;
}
.publico div{
    flex:1 ;
}
.publico img{
    width:40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publico div p{
    color:#000;
    font-weight: 600;
    font-size: 18px;
}
.publico div span{
    font-size: 13px;
    color: #5a5a5a;
}
.publico button{
    background:red;
    color: #fff;
    padding: 8px 30px;
    border:0;
    outline: 0;
    border-radius:4px;
    cursor: pointer;
}
.descripvideos{

    padding-left: 55px;
    margin: 15px 0;
}
.descripvideos p{
    font-size: 14px;
    margin-bottom: 5px;
    color:#5a5a5a;
    margin-top: 15px;
}
.añadircomentarios{
    display: flex;
    align-items:center;
    margin: 30px 0;
}
.añadircomentarios img{
    width: 35px;
    border-radius:50%;
    margin-right: 15px;
}
.añadircomentarios input{
    border:0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-top: 10px;
    background:transparent;
}
.comentarioviejo{
    display: flex;
    align-items:center;
    margin: 20px 0;
}
.comentarioviejo img{
    width: 35px;
    border-radius:50px;
    margin-right: 15px;
}
.comentarioviejo h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.comentarioviejo h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.comentarioviejo .acciones{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.comentarioviejo .acciones img{
    border-radius:0;
    width: 20px;
    margin-right: 5px;
}
.comentarioviejo .acciones span{
    margin-right: 20px;
    color: #5a5a5a;
}
.comentarioviejo .acciones a{
    color: #0000ff;
}
.nose2 .buscador{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 15px
}

.nose2 .buscador input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nose2 .buscador img{
    width: 15px;
}

.nose2{
    display: flex;
    flex-direction: column;
}

.recomendacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}

#activado{
    width: 440px;
    padding: 10px 0 10px 15px;
    position: absolute;
    z-index: 5;
    background:#f9f9f9;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(105,105,105,1);
    -moz-box-shadow: 1px 1px 5px 2px rgba(105,105,105,1);
    box-shadow: 1px 1px 5px 2px rgba(105,105,105,1);
}

#buscar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    gap: 10px;
}

#buscar li{
    margin: 5px 0;
}

#buscar a, #buscar li{
    list-style: none;
    color: black;

}

.lupaSvg{
    height: auto;
    width: 11px;
}

@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .derecha{
        flex-basis: 100%;
    }
    .playcontainer{
        padding-left: 5%;
    }
    .descripvideos{
        padding-left: 0;
    }
    .play-video .informacionvideo a{
        margin-left: 0;
        margin-right:15px;
        margin-top: 15px;
    }

    
    
  
}